HTTP_PORT=:8080
LOG_LEVEL=info

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=avito_pr
DB_HOST=localhost
DB_PORT=5432

DB_MAX_CONS=10
DB_MIN_CONS=2
DB_CON_LIFETIME=1h
DB_CONN_TIMEOUT=10s

TEST_DB_USER=test
TEST_DB_PASSWORD=test
TEST_DB_NAME=testdb
TEST_DB_HOST=localhost
TEST_DB_PORT=5439
